# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hojun\Desktop\잡\GitHub LeetCode Practice\LeetCode\Blind 75 LeetCode\Longest Substring Without Repeating Characters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
